<%= form_with(model: [writing, writing_conversation]) do |f| %>
    <div class="form-control">
        <%# Comment Body %>
        <%= f.rich_text_area :body %>

        <%# Submit Button %>
        <%= f.submit submit_label, class: "btn btn-primary mt-1" %>
    </div>
<% end %>