<%= form_with(model: [writing, writing.writing_conversations.build]) do |f| %>
    <div class="form-control">
        <%# Comment Body %>
        <%= f.rich_text_area :body %>

        <%# Submit Button %>
        <%= f.submit "Reply", class: "btn btn-primary mt-1" %>
    </div>
<% end %>