<div class="container">
    <%# Heading %>
    <h1>Writings:</h1>

    <div id="writings">
        <% @writings.each do |writing| %>
            <%# Writing %>
            <%= render writing %>
        <% end %>
    </div>
</div>
