<div id="<%= dom_id word_formation %>">
    <%# Question %>
    <p>
        <strong>Question:</strong>
        <%= word_formation.question %>
    </p>

    <%# Answer %>
    <p>
        <strong>Answer:</strong>
        <%= word_formation.answer %>
    </p>

    <%# Keyword %>
    <p>
        <strong>Keyword:</strong>
        <%= word_formation.keyword %>
    </p>
</div>
