<div class="container">
    <%# Heading %>
    <h1>New word formation</h1>

    <%# New Word Formation Form %>
    <%= render "form", word_formation: @word_formation %>
    <br>

    <%# Link to return to Word Formations %>
    <div><%= link_to "Back to word formations", word_formations_path %></div>
</div>
