<div class="container">
    <%# Heading %>
    <h1>Text choices</h1>

    <div id="text_choices">
        <% @text_choices.each do |text_choice| %>
            <%# Text Choice %>
            <%= render text_choice %>

            <%# Link to Text Choice %>
            <p><%= link_to "Show this text choice", text_choice %></p>
        <% end %>
    </div>

    <%# New Text Choice %>
    <%= link_to "New text choice", new_text_choice_path %>
</div>
