<div id="<%= dom_id article %>">
    <%# Title %>
    <p>
        <strong>Title:</strong>
        <%= article.title %>
    </p>

    <%# Task %>
    <p>
        <strong>Task:</strong>
        <%= article.task %>
    </p>

    <%# Number of Writings %>
    <p>
        <strong>Number of Writings:</strong>
        <%= pluralize(article.prompt.writings.size, "Writing") %>
    </p>
</div>
