<div id="<%= dom_id open_cloze %>">
    <%# Question %>
    <p>
        <strong>Question:</strong>
        <%= open_cloze.question %>
    </p>

    <%# Answer %>
    <p>
        <strong>Answer:</strong>
        <%= open_cloze.answer %>
    </p>
</div>
