<div class="container">
    <%# Heading %>
    <h1>New open cloze</h1>

    <%# New Open Cloze Form %>
    <%= render "form", open_cloze: @open_cloze %>
    <br>

    <%# Link to return to Open Clozes %>
    <div><%= link_to "Back to open clozes", open_clozes_path %></div>
</div>

