<%= render @open_cloze %>

<div>
  <%= link_to "Edit this open cloze", edit_open_cloze_path(@open_cloze) %> |
  <%= link_to "Back to open clozes", open_clozes_path %>

  <%= button_to "Destroy this open cloze", @open_cloze, method: :delete %>
</div>
