<div class="container">
    <%# Heading %>
    <h1>Problems</h1>

    <%# Multiple Choice link%>
    <%= link_to 'Multiplce Choice', multiple_choices_path, class: 'btn btn-primary' %>

    <%# Open Cloze link%>
    <%= link_to 'Open Cloze', open_clozes_path, class: 'btn btn-primary' %>

    <%# Sentence Transformation link%>
    <%= link_to 'Sentence Transformation', sentence_transformations_path, class: 'btn btn-primary' %>

    <%# Word Formation link%>
    <%= link_to 'Word Formation', word_formations_path, class: 'btn btn-primary' %>
</div>
