<div class="container">
    <%# Heading %>
    <h1>Prompts</h1>

    <%# Essay link%>
    <%= link_to 'Essay', essays_path, class: 'btn btn-primary' %>

    <%# Review link%>
    <%= link_to 'Review', reviews_path, class: 'btn btn-primary' %>

    <%# Article link%>
    <%= link_to 'Article', articles_path, class: 'btn btn-primary' %>

    <%# Report link%>
    <%= link_to 'Report', reports_path, class: 'btn btn-primary' %>
</div>