<div class="container">
    <%# Heading %>
    <h1>Readings</h1>

    <%# Text Choice link%>
    <%= link_to 'Multiple Choice', text_choices_path, class: 'btn btn-primary' %>

    <%# Text Missing link%>
    <%= link_to 'Sentence Insert', text_missings_path, class: 'btn btn-primary' %>

    <%# Text Matching link%>
    <%= link_to 'Text Matching', text_matchings_path, class: 'btn btn-primary' %>
</div>