<div class="container">
    <%# Heading %>
    <h1>New multiple choice</h1>

    <%# New Multiple Choice Form %>
    <%= render "form", multiple_choice: @multiple_choice %>
    <br>

    <%# Link to return to Multiple Choices %>
    <div><%= link_to "Back to multiple choices", multiple_choices_path %></div>
</div>
