<div class="container">
    <%# Heading %>
    <h1>New text missing</h1>

    <%# New Text Missing Form %>
    <%= render "form", text_missing: @text_missing %>
    <br>

    <%# Link to return to Text Missings %>
    <div> <%= link_to "Back to text missings", text_missings_path %></div>
</div>
