<div id="<%= dom_id review %>">
    <%# Title %>
    <p>
        <strong>Title:</strong>
        <%= review.title %>
    </p>

    <%# Task %>
    <p>
        <strong>Task:</strong>
        <%= review.task %>
    </p>

    <%# Number of Writings %>
    <p>
        <strong>Number of Writings:</strong>
        <%= pluralize(review.prompt.writings.size, "Writing") %>
    </p>
</div>
