<div id="<%= dom_id review %>">
    <%# Title %>
    <p>
        <strong>Title:</strong>
        <%= review.title %>
    </p>

    <%# Task %>
    <p>
        <strong>Task:</strong>
        <%= review.task %>
    </p>

    <%# Prompt %>
    <p>
        <strong>Prompt:</strong>
        <%= review.prompt_id %>
    </p>
</div>
