<div class="container">
    <%# Heading %>
    <h1>Editing review</h1>

    <%# Edit Review Form %>
    <%= render "form", review: @review %>
    <br>

    <%# Links %>
    <div>
        <%= link_to "Show this review", @review %> |
        <%= link_to "Back to reviews", reviews_path %>
    </div>
</div>
