<div id="<%= dom_id report %>">
    <%# Situation %>
    <p>
        <strong>Situation:</strong>
        <%= report.situation %>
    </p>

    <%# Task %>
    <p>
        <strong>Task:</strong>
        <%= report.task %>
    </p>

    <%# Prompt %>
    <p>
        <strong>Prompt:</strong>
        <%= report.prompt_id %>
    </p>
</div>
