<div id="<%= dom_id report %>">
    <%# Situation %>
    <p>
        <strong>Situation:</strong>
        <%= report.situation %>
    </p>

    <%# Task %>
    <p>
        <strong>Task:</strong>
        <%= report.task %>
    </p>

    <%# Number of Writings %>
    <p>
        <strong>Number of Writings:</strong>
        <%= pluralize(report.prompt.writings.size, "Writing") %>
    </p>
</div>
