<div class="container">
    <%# Heading %>
    <h1>Editing report</h1>

    <%# Edit Report Form %>
    <%= render "form", report: @report %>
    <br>

    <%# Links %>
    <div>
        <%= link_to "Show this report", @report %> |
        <%= link_to "Back to reports", reports_path %>
    </div>
</div>
