<div class="container">
    <%# Heading %>
    <h1>Essays</h1>

    <div id="essays">
        <% @essays.each do |essay| %>
            <%# Essay %>
            <%= render essay %>

            <%# Link to Essay %>
            <p><%= link_to "Show this essay", essay %></p>
        <% end %>
    </div>

    <%# New Essay %>
    <%= link_to "New essay", new_essay_path %>
</div>
